Source: fpgatools
Section: electronics
Priority: extra
Maintainer: Xiangfu Liu <xiangfu@openmobilefree.net>
Build-Depends: debhelper (>=  7.4.10), pkg-config, 
	libxml2-dev
Standards-Version: 3.9.3
Homepage: https://github.com/Wolfgang-Spraul/fpgatools

Package: fpgatools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tool to program flexible programmable gate arrays
 fpgatools is a toolchain to program flexible programmable
 gate arrays (FPGAs). The only supported chip at this time is
 the xc6slx9, a cheap (ca. 10 USD) but powerful 45nm-generation
 chip with about 2400 LUTs, block ram and multiply-accumulate devices

Package: libfpga
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: libs of fpgatools
 small independent command line utilities, no GUI
 plain C, no C++
 simple Makefiles
 text-based file formats
 no documentation - read the sources
 automatic test suite
