#!/usr/bin/make -f
# This file is in the public domain.
# You may freely use, modify, distribute, and relicense it.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export PREFIX=/usr

build clean install binary-arch binary-indep binary:
	+dh --parallel $(opt_no_act) $@

override_dh_auto_build:
	$(MAKE) fp2bit bit2fp

override_dh_auto_clean:
	$(MAKE) clean
	sh debian/clean.sh

override_dh_installchangelogs:
	dpkg-parsechangelog --format rfc822 --all | \
		awk -f debian/changelog.upstream.awk
	dh_installchangelogs debian/changelog.upstream

# Remove auto test for fast develop
# will include auto_test in the end
override_dh_auto_test:

REPO = git://github.com/Wolfgang-Spraul/fpgatools.git
BRANCH = master
debiandir_SQ = $(subst ','\'',$(dir $(lastword $(MAKEFILE_LIST))))
get-orig-source:
	REPO='$(REPO)' BRANCH='$(BRANCH)' \
		sh '$(debiandir_SQ)'get-orig-source.sh

%:
	dh $@
